@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #312e2e;
  --gray__gradient: linear-gradient(
    0deg,
    #ffffff 0%,
    #c0c0c0 50%,
    #ffffff 100%
  );
  --red__gradient: linear-gradient(135deg, #fc6e59 10%, rgb(251, 147, 147) 100%);
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
  --yellow: #d79922;
  --dark-blue: #4056a1;
  --red: #f13c20;
  --faded-red: #e0d6d4;
  --pale: #efe2ba;

  --gray: rgb(193, 193, 193);
  --light-gray: rgb(248, 247, 247);
  --dark-gray: rgb(159, 159, 159);
  /* --dark-blue: #0f5298; */
  /* --blue: rgb(0, 135, 245); */
  --blue-text: @apply bg-blue-600;
  --blue-background: @apply text-blue-600;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.login {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

@media only screen and (max-width: 912px) {
  .login {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.input__field {
  outline: none;
  padding: 0.5rem 2rem;
  border: 1px solid red;
}

.input__field:focus {
  border-left: 3px solid var(--blue);
}

.form__label {
  color: #bcbcbc;
  text-transform: capitalize;
}

.gradient__border {
  border-right: 2px solid transparent;
  border-image: var(--gray__gradient);
  border-image-slice: 1;
}

/* Bounce animation */

.bounce {
  animation: gelatine 0.5s 1;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.custom_primary_button {
  position: relative;
  overflow: hidden;
  background-color: var(--red);
}
.custom_secondary_button {
  position: relative;
  overflow: hidden;
  background-color: var(--gray);
  color: black;
}

.custom_secondary_button::before {
  content: '';
  position: absolute;
  bottom: -300%;
  left: 0;
  background: var(--dark-gray);
  width: 100%;
  height: 200%;
  transform: skewY(168deg);
  transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}
.custom_secondary_button::after {
  content: '';
  position: absolute;
  top: -300%;
  right: 0;
  background: var(--dark-gray);
  width: 100%;
  height: 200%;
  transform: skewY(-192deg);
  transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}

.custom_secondary_button:hover::before {
  bottom: -100%;
}
.custom_secondary_button:hover::after {
  top: -100%;
}

.custom_primary_button::before {
  content: '';
  position: absolute;
  bottom: -300%;
  left: 0;
  background: var(--dark-blue);
  width: 100%;
  height: 200%;
  transform: skewY(168deg);
  transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}
.custom_primary_button::after {
  content: '';
  position: absolute;
  top: -300%;
  right: 0;
  background: var(--dark-blue);
  width: 100%;
  height: 200%;
  transform: skewY(-192deg);
  transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}
.custom_primary_button:hover::before {
  bottom: -100%;
}
.custom_primary_button:hover::after {
  top: -100%;
}

.custom_primary_button .button_text,
.custom_secondary_button .button_text {
  z-index: 2;
  position: relative;
}

.active-icon {
  color: var(--red);
}

.active-text {
  color: var(--red);
}
/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.floating-object-1 {
  position: absolute;
  top: 10%;
  left: 5%;
  border-radius: 50%;

  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  width: 150px;
  height: 150px;
  animation: float 10s infinite;
}
.floating-object-2 {
  position: absolute;
  bottom: 20%;
  right: 3%;
  border-radius: 50%;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  width: 200px;
  height: 200px;
  animation: floatandmove 10s alternate-reverse infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatandmove {
  0% {
    transform: translatey(0px) translateX(-30px);
  }
  50% {
    transform: translatey(-20px) translateX(-50px);
  }
  100% {
    transform: translatey(0px) translate(0);
  }
}

.bounce-in-top {
  animation: bounce-in-top 0.5s ease;
}
@keyframes bounce-in-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ----------------------- navbar ----------------------  */

.navbar {
  background-color: white;
}

.logo-text {
  color: var(--red);
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem 8.75rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 912px) {
  .navbar {
    padding: 1rem 1rem;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  position: relative;
}

.search-bar input {
  max-width: 80%;
  min-width: 80%;
  padding: 1rem 1rem;
  /* border: 1px solid gray; */
  border-radius: 50px;
  padding-left: 3.5rem;
  position: relative;
  background-color: rgb(248, 247, 247);
}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  color: var(--gray);
}

.account {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-end;
}

.account-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4375rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid red; */
}
.account-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------------------ homepage -------------------------- */

.homepage {
  /* display: grid; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  background-color: rgb(244, 244, 244);
  padding: 0 140px;
  gap: 2rem;
  padding-top: 1rem;
  /* border: 1px solid green; */
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

.profile {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.avatar-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: fit-content;
}

.avatar-info > p {
  font-weight: 500;
  color: var(--black);
}

.avatar-info span {
  font-size: small;
  color: var(--dark-gray);
  letter-spacing: 0.5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.active {
  border-left: 5px solid var(--red);
  background-color: var(--light-gray);
}

.dash-option {
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.dash-option:hover {
  background-color: var(--light-gray);
}

.side__border {
  position: relative;
}
.side__border::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 60%;
  background: var(--light-gray);
}

.profile-friend {
  display: flex;
  gap: 0.8rem;
  /* padding: 1rem; */
  align-items: center;
}

.profile-friendRequest {
  display: flex;
  gap: 1rem;
  /* padding: 1rem; */
  align-items: flex-start;
}

/* friends column  */

.friends-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 10px;
}

.friends-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.friends-title::after {
  content: '';
  width: 100%;
  height: 1.5px;
  position: absolute;
  top: 115%;
  border-radius: 10px;
  left: 0;
  background-color: var(--dark-gray);
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.avatar-info {
  width: 100%;
}

.decision-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
  width: 100%;
  margin-top: 0.5rem;
}
